<a href="https://colab.research.google.com/github/CameronKenworthyCode/python/blob/main/project_euler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://projecteuler.net/

http://www.s-anand.net/euler.html

#1.

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [4]:
sum = 0
for i in range(3, 1000):
  if (i % 3 == 0) or (i % 5 == 0):
    sum += i

print(sum)

233168

#2.
Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [7]:
sum = 2
term1 = 1
term2 = 2
term3 = 3
while term3 < 4000000:
  term1 = term2
  term2 = term3
  term3 = term2 + term1
  if term3 % 2 == 0:
    sum += term3

print(sum)

4613732

In [32]:
#save previous fib calculations in dict for fast lookup
cache = {}
def fib(n):
    #print(cache)
    cache[n] = cache.get(n, 0) or (n <= 1 and 1 or fib(n-1) + fib(n-2))
    return cache[n]

n,i = 0,0
while fib(i) <= 4000000:
    if not fib(i) % 2: n = n + fib(i)
    i = i + 1

print(n)

4613732

#3.
The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

In [26]:
prime = 600851475143
factor = 2
while factor * factor < prime:
  while prime % factor == 0:
    prime = prime / factor
  factor = factor + 1

print(int(prime))

6857

#4.
A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 Ã— 99.

Find the largest palindrome made from the product of two 3-digit numbers.

In [45]:
answers = []
exit = 0
for i in range(999,99, -1):
  if exit == 1:
    break
  for j in range(999,99, -1):
    if str(i*j) == str(i*j)[::-1]:
      #print('i:', i, '\nj:', j, '\nanswer:', i*j)
      answers.append(i*j)
      if len(answers) > 2:
        exit = 1
        break

print(max(answers))

906609